/* da pra usar display inline para fazer um do lado do outro*/
/* gap separa elementos dentro da div*/  
*{
    margin: 0;
    padding:  0;
}

body, html{
    background-color: #DFBD0B;
    display: flex;
    justify-content: center;
}

.Curriculo{
    width: 730px;
    min-height: 105%;
    display: flex;
}

.aba-esquerda{
    background-color: #161414;
    width: 30%;
}

.aba-esquerda img{
    margin-top: 20%;
    width: 85%;
    border-radius: 50%;
}

.aba-direita{
    width: 70%;
    background-color: rgb(255, 255, 255);
}

.nome{
    margin-top: 12%;
    height: 11%;
    background-color: #DFBD0B;
}

.nome h1{
    padding-left: 5%;
    padding-top: 7%;
    font-size: 310%;
}

.nome h4{
    padding-left: 5%;
    padding-top: 2%;
    font-size: 120%;
}

.cont-imagem{
    display: flex;
    justify-content: center;
}

.info-curriculo{
    padding-left: 8%;
    padding-top: 5%;
    padding-right: 10%;
}

.info-curriculo li{
    padding-top: 2%;
}

.empresa-data{
    display: flex;
    padding-top: 3%;
}

.empresa-data p{
    margin-left: 20%;
}

.cargo{
    margin: 10px;
    margin-left: 0%;
}

.formacao-academica{
    margin-top: 8%;
    margin-left: 12%;
    padding-right: 0%;
}

.lista-formacao{
    color: #ffffff;
}

.lista-formacao li{
    padding-top: 4%;
    padding-right: 2%;
}

.formacao-academica h1{
    padding-top: 7%;
    padding-right: 0;
    margin-right: 0;
    color: #ffffff;
    font-size: 190%;
}

.formacao-academica hr{
    border: 0 none #DFBD0B;
    border-bottom: 1px solid #DFBD0B;
    border-top: 1px solid #DFBD0B;
}

.espaco{
    padding: 1%;
}
/* display flex ja ajusta proporcao, n permite percentual*/
.links a{
    padding: 5%;
    background-color: #e1e0e0;
    margin-top: 7%;
    width: 60%;
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
}

.links{
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacoes-adicionais{
    margin-top: 20px;
}

.espaco-vazio{
    width: 20%;
    height: 100%;
    background-color: #DFBD0B;
}

.info-titulo{
    height: 24px;
    display: flex;
    flex-direction: row;
}

.info-titulo-interno{
    color: #ffffff;
    width: 80%;
    height: 100%;
    padding-left: 2%;
    background-color: #444343;
    display: flex;
    align-items: center;
}

.info-conteudo{
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #ffffff;
}
