*{
    margin: 0;
    padding:  0;
}
  
body{
    background-color: #DFBD0B;
    display: flex;
    justify-content: center;
}

.Curriculo{
    width: 60%;
    height: 1600px;
    display: flex;
}

.aba-esquerda{
    background-color: #161414;
    width: 30%;
}

.aba-esquerda img{
    margin-top: 20%;
    width: 85%;
    border-radius: 50%;
}

.aba-direita{
    width: 70%;
    background-color: rgb(255, 255, 255);
}

.nome{
    margin-top: 12%;
    height: 10%;
    background-color: #DFBD0B;
}

.nome h1{
    padding-left: 5%;
    padding-top: 7%;
    font-size: 50px;
}

.nome h4{
    padding-left: 5%;
    padding-top: 2%;
    font-size: 17px;
}

.cont-imagem{
    display: flex;
    justify-content: center;
}

.info-curriculo{
    padding-left: 8%;
    padding-top: 5%;
    padding-right: 10%;
}

.info-curriculo li{
    padding-top: 2%;
}

.empresa-data{
    display: flex;
    padding-top: 3%;
}

.empresa-data p{
    margin-left: 20%;
}

.cargo{
    margin: 10px;
    margin-left: 0%;
}

.formacao-academica{
    margin-top: 8%;
    margin-left: 10%;
}

.lista-formacao{
    color: #ffffff;
}

.formacao-academica h1{
    color: #ffffff;
}

.espaco{
    padding: 1%;
}

.links{
    display: flex;
    flex-direction: row;
}

.informacoes-adicionais{
    margin-top: 20px;
}




.info-titulo-interno{
    background-color: #ffffff;
}

.info-conteudo{
    padding-left: 23%;
    color: #ffffff;
}